.transparent-popup .mapboxgl-popup-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.transparent-popup .mapboxgl-popup-content::after {
  display: none !important;
}

.mapboxgl-popup-tip {
  display: none;
}
